$primary: #aaa897;
$secondary:#585b4f;
$fondo: #f3f2eb;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "fondo":      $fondo,
);

// $font-family-sans-serif: 'Raleway', sans-serif;

@import './node_modules/bootstrap/scss/bootstrap.scss'
