$primary: #c9c9c9;
$secondary:#A65D1f;
$fondo: #ffffff;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "fondo":      $fondo,
);

$font-family-sans-serif: 'Raleway', sans-serif;

@import './node_modules/bootstrap/scss/bootstrap.scss'
